.gallery-item {
  padding: 20px;
  width: 300px;
  height: 300px;
}

.lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
